@media print {
    nav, #skip {
      display: none !important;
    }
  
    img {
      display: none !important;
    }

    #video {
      display: none !important;
    }


    body {
      font-size: 12pt;
      margin: 0;
      padding: 0;
      background: none;
      color: #000;
    }
  
    main, article, section {
      width: 100%;
      margin: 0;
      padding: 0;
    }
  
    h1, h2, h3 {
      page-break-after: avoid;
    }
  
    p, ul, table {
      page-break-inside: avoid;
    }
  }
  